name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build
    - name: Wasm32 build
      run: cargo build --target wasm32-unknown-unknown
    - name: Test
      run: cargo test
    - name: Doc test
      run: cargo test --doc
